/* Estilos generales */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: grey;
    padding: 10px;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Estilos del formulario de búsqueda */
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-form input[type="text"],
  .search-form button {
    height: 30px;
    padding: 5px 10px;
    border: none;
    outline: none;
  }
  
  .search-form input[type="text"] {
    width: 300px;
  }
  
  .search-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  